<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap 4 Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/managerDashboard.css">
    <title>Chief's Dashboard</title>
</head>

<body>
    <div class="container mt-5">
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <h1 class="mb-4"><span class="highlight">Chief</span>'s Dashboard</h1>
                </div>
                <div class="col-auto">
                    <a href="/logout" class="btn btn-outline-danger mt-3">
                        <i class="fas fa-sign-out-alt me-2" style="padding-right: 5px;"></i> Logout
                    </a>
                </div>
            </div>
        </div>

        <!-- Manager Details -->
        <div class="mb-4">
            <div class="card border-info">
                <div class="card-header bg-info text-white">
                    Welcome, <strong>
                        <%= first_name %>
                            <%= last_name %>
                    </strong>
                </div>
                <div class="card-body bg-light">
                    <h5 class="card-title">Contact Information</h5>
                    <p class="card-text"><i class="fas fa-envelope-open-text user-icon"></i> Email: <strong>
                            <%= email %>
                        </strong></p>
                    <p class="card-text"><i class="fas fa-user user-icon"></i> First Name: <strong>
                            <%= first_name %>
                        </strong></p>
                    <p class="card-text"><i class="fas fa-user-tag user-icon"></i> Last Name: <strong>
                            <%= last_name %>
                        </strong></p>
                </div>
                <div class="card-footer">
                    <a href="/modify-manager" class="btn btn-outline-info">Edit Profile</a>
                </div>
            </div>
        </div>


        <!-- User Management -->
        <div class="mb-3">
            <h3>Crew Management</h3>
            <div class="list-group">
                <a href="/create-user" class="list-group-item list-group-item-action">
                    <i class="fas fa-user-plus fa user-icon"></i> Enroll Crew Member
                </a>
                <a href="/modify-client" class="list-group-item list-group-item-action">
                    <i class="fas fa-user-edit fa user-icon"></i> Modify Chrononaut
                </a>
                <a href="/delete-client" class="list-group-item list-group-item-action">
                    <i class="fas fa-user-times fa user-icon"></i> Delete Chrononaut
                </a>
            </div>
        </div>

        <!-- Points Management -->
        <div class="mb-3">
            <h3>Points Management</h3>
            <a href="/add-points" class="list-group-item list-group-item-action">
                <i class="fas fa-coins fa point-icon"></i> Add Points to Chrononaut
            </a>
        </div>

        <!-- Gift Management -->
        <div class="mb-3">
            <h3>Gift Management</h3>
            <a href="/add-gift" class="list-group-item list-group-item-action">
                <i class="fas fa-gift fa gift-icon"></i> Add Retro Gift
            </a>
            <a href="/modify-gift" class="list-group-item list-group-item-action">
                <i class="fas fa-edit fa gift-icon"></i> Modify Retro Gift
            </a>
            <a href="/delete-gift" class="list-group-item list-group-item-action">
                <i class="fas fa-trash fa gift-icon"></i> Delete Retro Gift
            </a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>